src/main/mule/04-file.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="5ba758ab-5302-420d-881a-39913d12fb85" >
		<file:connection workingDir="D:\Mule" />
	</file:config>
	<flow name="04-fileFlow" doc:id="d3f89b79-39ad-4a91-91f9-f1cbeffed156" >
		<file:listener doc:name="On New or Updated File" doc:id="5d18c0d5-4970-4cfe-bda1-ba7c2426a721" config-ref="File_Config" directory="Input">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</file:listener>
		<logger level="INFO" doc:name="Logger" doc:id="51b53286-e811-4ea3-835f-e4a073605edd" message="#[payload]"/>
	</flow>
</mule>
